body {
	width: 600px;
	margin: 16px 16px 16px 24px;
}

h1, h3 {
	margin-bottom: 16px;
}

.overview {
	margin-bottom: 16px;
}

.langicon {
	height: 48px;
	margin-left: 8px;
}

.langicon-small {
	height: 32px;
}

.langicon-tiny {
	height: 22px;
}

.giticon  {
	width: 24px;
	margin-right: 8px;
}

.overview-small {
	font-size: 14px;
}

.content {
	width: 400px;
	margin-left: 32px;
	margin-bottom: 16px;
}

.thumbnail {
	width: 100%;
	margin-bottom: 8px;
}

.previewvideo {
	height: 480px;
}

.tabkey {
	font-style: italic;
}

.tabvalue {
	font-weight: bold;
}
